// @import '~air-datepicker/dist/css/datepicker.min.css';
@import 'src/colors.scss';

.date-dropdowns-wrap {
	display: flex; justify-content: space-between;
	max-width: 320px;
}
@media (max-width: 576px) {
	.date-dropdowns-wrap {
		flex-direction: column;
		.date-dropdown {
			width: 100%;
		}
	}
}
.date-dropdown {
	input:focus {
		outline: none;
	}
	font-family: 'Montserrat', sans-serif;
	width: 150px; //min-width: 150px;
	position: relative;
	.date-dropdown__select+span {
		display: block; position: absolute;
		right: 15px; bottom: calc(22px - 2px);
		width: 8px; height: 8px;
		border-right: 2px solid transparentize($darkShadeColor, 0.5);
		border-bottom: 2px solid transparentize($darkShadeColor, 0.5);
		transform: rotate(45deg);
		margin-top: 13px;
	}
}
.date-wrap {
	position: relative;
}
@media (max-width: 576px) {
	.calendar-wrap {
		position: relative; z-index: 20;
		transform: scale(.84) translateX(-37px);
	}
}

.calendar {
	transition: all 1s ease;
	position: absolute; z-index: 20;
	// top: -7000px;
	bottom: 7000px;
	opacity: 0;
}
.calendar_styler {
	font-family: 'Montserrat', sans-serif;
	width: 318px; height: 370px;
	.datepicker--nav {
		border: none; padding: 20px 16px;
		min-height: 24px;
		.datepicker--nav-action {
			span {
				display: block;
				position: relative;
				width: 14px; height: 2px; background-color: $primaryColor;
				&::after {
					content: ''; background-color: inherit;
					display: block;
					position: absolute;
					width: 10px; height: 2px;
					top: 3px; right: -2px;
					transform: rotate(-45deg);
				}
				&::before {
					content: ''; background-color: inherit;
					display: block; 
					position: absolute;
					width: 10px; height: 2px;
					bottom: 3px; right: -2px;
					transform: rotate(45deg);
				}
			}
			&:first-child {
				transform: rotate(180deg);
			}
		}
	}
	.datepicker--nav-title {
		font-weight: bold; font-size: 19px;
		color: $darkShadeColor;
		i {
			color: inherit;
		}
	}
	.datepicker--content {
		padding: 0 20px;
	}
	.datepicker--day-name {
		font-weight: bold; font-size: 12px; color: $primaryColor;
		text-transform: capitalize;
		height: 40px; width: 40px;
	}
	.datepicker--cell-day {
		height: 40px; width: 39.7px;
	}
	.-selected-, .-focus-, .-selected-.-focus- {
		border-radius: 50%; color: #fff;
		background: linear-gradient(180deg, $primaryColor 0%, #8BA4F9 100%);
	}
	.-range-from- {
		&:after {
			content: ''; width: 50%; height: 100%;
			position: absolute; left: 50%;
			background: linear-gradient(180deg, $primaryColor 0%, #8BA4F9 100%);
			opacity: 0.25;
		}
	}
	.-range-to- {
		&:after {
			content: ''; width: 50%; height: 100%;
			position: absolute; right: 50%;
			background: linear-gradient(180deg, $primaryColor 0%, #8BA4F9 100%);
			opacity: 0.25;
		}
	}
	.-in-range- {
		background: #fff;
		&:after {
			content: ''; width: 100%; height: 100%;
			position: absolute;
			background: linear-gradient(180deg, $primaryColor 0%, #8BA4F9 100%);
			opacity: 0.25;
		}
	}
	.-in-range-.-focus- {
		background-color: transparentize($primaryColor, 0.25); //!!!
	}
	.-current-, .-current-.-in-range- {
		background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
		color: #fff; border-radius: 50%;
	}
	.datepicker--buttons {
		border: none;
		padding: 20px;
		justify-content: space-between;
		.datepicker--button {
			text-transform: uppercase;
			flex: inherit;
			height: 15px;
			color: transparentize($darkShadeColor, 0.5);
			font-size: 12px; font-weight: bold;
			&:last-child {
				color: $primaryColor;
			}
		}
	}
}