@import 'src/colors.scss';

.room-selection {
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	height: fit-content;
	max-width: 380px;
	padding: 40px 30px 30px; box-sizing: border-box;
	background-color: #fff; box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	.room-selection__header {
		margin: 0 0 20px 0;
		font-weight: bold; font-size: 24px;
		color: $darkShadeColor;
	}
	.date-dropdowns-wrap {
		margin-bottom: 20px;
	}
	.dropdown {
		margin-bottom: 30px;
	}
}


@media (max-width: 576px) {
	.room-selection {
		.room-selection__header {
			font-size: 20px;
			margin-bottom: 14px;
		}
	}
}