.socials {
	a {
		font-size: 24px;
		svg * {
			fill: url(#socialsGradient);
		}
		&:not(:first-child) {
			margin-left: 20px;
		}
	}
	a:hover {
		svg * {
			fill: url(#socialsHoverGradient);
		}
	}
}