.socials {
	a {
		font-size: 24px;
		svg * {
			fill: url(#socialsGradient);
		}
		&:not(:first-child) {
			margin-left: 20px;
		}
	}
	a:hover {
		svg * {
			fill: url(#socialsHoverGradient);
		}
	}
}
// @media (max-width: 576px) {
// 	.socials {
// 		display: grid;
// 		grid-template-columns: 21px 21px;
// 		column-gap: 12px; row-gap: 8px;
// 		a {
// 			margin: 0;
// 			display: block; height: 22px; line-height: 22px;
// 		}
// 	}
// }