@import 'src/colors.scss';

.room-details__banner {
	width: 1440px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 981px 461px;
	grid-template-rows: 243px 243px;
	grid-template-areas: "pic1 pic2"
											 "pic1 pic3";
	img:nth-child(1) {
		grid-area: pic1;
	}
	img:nth-child(2) {
		grid-area: pic2;
	}
	img:nth-child(3) {
		grid-area: pic3;
	}
}
@media (max-width: 1439px) {
	.room-details__banner {
		width: auto;
		margin-left: auto; margin-right: auto;
		display: flex; justify-content: center;
		img:nth-child(1) {
			width: 1160px;
		}
		img:nth-child(2) {
			display: none;
		}
		img:nth-child(3) {
			display: none;
		}
	}
}
@media (max-width: 1200px) {
	.room-details__banner {
		img:nth-child(1) {
			max-width: 100%;
			height: auto;
		}
	}
}

.room-details__main {
	margin-top: 70px!important;
	display: grid;
	grid-template-columns: 280px 360px 380px;
	column-gap: 75px;
	grid-template-rows: minmax(275px, auto) minmax(215px, auto) minmax(160px, auto); //no minmax() first-row fits perfectly
	row-gap: 30px;
	grid-template-areas: "iconsList feedbackWheel roomBooking"
											 "reviews reviews roomBooking"
											 "rules cancellationInfo .";
}
.icons-text-list-wrap {
	grid-area: iconsList;
}
.room-feedback-wheel {
	grid-area: feedbackWheel;
}
.room-booking {
	grid-area: roomBooking;
}
.reviews-list-wrap {
	grid-area: reviews;
}
.bullet-list-wrap {
	grid-area: rules;
}
.cancellation-info-wrap {
	grid-area: cancellationInfo;
}

.cancellation-info-wrap {
	.cancellation-info__header {
		font-family: 'Quicksand', sans-serif;
		font-weight: bold; font-size: 19px;
		line-height: 24px; word-wrap: break-word;
		color: $darkShadeColor;
		margin: 0 0 20px 0;
	}
	.cancellation-info__text {
		margin: 0;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px; line-height: 24px;
		color: transparentize($darkShadeColor, 0.25);
	}
}


@media (max-width: 1200px) {
	.room-details__main {
		width: fit-content!important;
		grid-template-columns: 250px 300px 370px;
		column-gap: 25px;
		grid-template-rows: 275px minmax(110px, auto) minmax(110px, auto) minmax(160px, auto);
		grid-template-rows: auto;
		grid-template-areas: "iconsList feedbackWheel roomBooking"
													"reviews reviews roomBooking"
													"reviews reviews ."
													"rules cancellationInfo .";
	}
}
@media (max-width: 992px) {
	.room-details__main {
		margin: 40px 0;
		grid-template-columns: 280px 360px;
		grid-template-rows: auto;
		grid-template-areas: "iconsList feedbackWheel"
													"reviews reviews"
													"rules cancellationInfo"
													"roomBooking roomBooking"
													"roomBooking roomBooking";
	}
}
@media (max-width: 992px) and (min-width: 769px) {
	.room-feedback-wheel {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		.room-feedback-wheel__header {
			width: 281px;
		}
	}
}
@media (max-width: 768px) {
	.room-details__main {
		margin: 20px 0;
		grid-template-columns: 265px 230px minmax(50px, auto);
		column-gap: 10px;
		grid-template-areas: "iconsList feedbackWheel feedbackWheel"
													"reviews reviews ."
													"rules cancellationInfo ."
													"roomBooking roomBooking ."
													"roomBooking roomBooking .";
	}
}
@media (max-width: 576px) {
	.room-details__main {
		margin: 5px 0;
		grid-template-columns: minmax(300px, 566px);
		grid-template-areas: "iconsList"
													"feedbackWheel"
													"reviews"
													"rules"
													"cancellationInfo"
													"roomBooking"
													"roomBooking";
		.room-feedback-wheel .room-feedback-wheel__content {
			flex-direction: column;
			.room-feedback-wheel__legend {
				margin-left: 18px;
				align-self: initial;
			}
		}
	}
}